body, html {height: 100%;}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #eef;
    color: black;
}
    body>* {
        margin: 1em;
        flex-direction: row;
    }

header {
    margin: 1em auto;
}
    h1 {
        margin: 0 0 0 auto;
        padding: 0.05em 0.3em;
        font-size: 2.8em;
        background-color: #fff;
        border-radius: 0.4em;
    }

#error {
    margin: auto auto 0 auto;
    color: red;
    border-radius: 1em;
    min-height: 1.1em;/*to prevent everything below from moving*/
}
main {
    margin: 1em auto auto auto;
    padding: 0.5em;
}
    #map {
        height: 600px;
        width: 800px;
    }

footer {
    display: flex;
    background-color: black;
    color: white;
    border-top: 0.3em solid grey;
    padding: 0.2em;
    margin: 0.6em 0 0 0;
}
    footer>* {
        margin-top: auto;
        margin-bottom: auto;
    }
    footer>*:first-child {margin-left: auto;}
    footer>*:last-child {margin-right: auto;}
