body, html {height: 100%;}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #eef;
    color: #000;
}
    body>* {flex-direction: row;}

#error {
    margin: auto auto 0 auto;
    min-height: 1.1em;/*to prevent everything below from moving when an error appers or dissappears*/
    color: #f00;
}
main {
    margin: 1em auto auto auto;
    padding: 0.5em;
}
    #map {
        height: 780px;
        width: 1024px;
    }
        .leaflet-popup-content ul {
            padding-left: inherit;
        }
        .leaflet-popup-content li {
            list-style: none;
        }

footer {
    display: flex;
    padding: 0.3em;
    margin: 1em 0 0 0;
    background-color: #fff;
}
    footer span {margin: auto;}
